page-my-files {
  display: flex;
  flex-direction: column;
}
#filesPageContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#fileInput{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 40px;
}

img {
  max-width: 100%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
