<ion-header>

  <ion-navbar>
    <ion-title>File Upload</ion-title>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="filesPageContainer">
    <div *ngIf="downloadURL === null">
      <div id="fileInput">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Upload
        </label>
        <input id="file-upload" (change)="uploadFile($event)" accept="image/*" type="file"/>
      </div>
      <div>{{ uploadPercent | async }}</div>
    </div>
    <div *ngIf="downloadURL !== null">
      <img [src]="downloadURL | async"/>
      <a *ngIf="downloadURL !== null" [href]="downloadURL | async">{{ downloadURL | async }}</a>
    </div>
  </div>
</ion-content>
